body{
    background-color: #287FAD !important;
}

.logo-box{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo-box p{
    color: #fff;
}
.logo-box .company-name{
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 20px;
}

.navbar{
    margin-top: 20px;
    margin-bottom: 20px;
}

.dvls_result_status.show{
    text-align: center;
    font-weight: bold;
    color: #006296;
}
footer{
    margin-top: 20px;
}
footer p{
    color: #fff;
    text-align: center;
}
.footer-title{
    font-weight: bold;
}

.custom-checkbox{
    margin-top: 38px;
}
.custom-btn{
    margin-top: 30px;
}

/* Trang chủ */
.dvls_maps_main{
	background: #fff;
}
.dvls_maps_note{
    float: left;
    width: 100%;
	padding: 20px;
}
.dvls_maps_note h2{
	color: #006296;
	margin-bottom: 15px;
}
.dvls_maps_note ul{
	margin: 0;
	padding: 0;
}
.dvls_maps_note ul li{
	list-style: none;
	margin-bottom: 20px;
}
.dvls_maps_note ul li .maps_note_title{
	margin-left: 10px;
}

/* Menu */
.navbar-light .navbar-nav .nav-link , .navbar-light .navbar-nav .dropdown-item{
    color: #036298;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
    color: #D59500;
}

/* Bản đồ */
.station-icon{
    font-size: 24px;
    margin-top: 16px;
    margin-left: 10px;
    background-color:rgba(255,255,255,1);
    border-radius: 100%;
}

.station-icon-text{
    padding: 3px 5px;
    background-color: #FFC10C;
    border-radius: 5px;
    text-align: center;
}

.about-us{
    background-color: #fff;
    padding: 20px;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .dropdown-item{
    text-transform: inherit;
    font-size: 16px;
}
.navbar-light .navbar-nav .dropdown-item{
    color: #212529;
    font-weight: normal;
}
.navbar-light .navbar-nav .dropdown-item:active{
    background-color: #F8F9FA;
}
